*.o
obj/
materia
abstrait
bruler
animal
claptrap
scavtrap
fragtrap
diamondtrap
fixed
braiiiiiiinnnzzzz
cerveaux
brain
violence
sed
glouky
gloukyfilter
megaphone
phonebook
gbu
bureaucrat
serializer
convert
base
iter
templatefunc
array